.vscode
readme_for_github.html
SRD
wp-admin
wp-includes
.htaccess
error_log
/index.php
license.txt
readme.html
sftp.txt
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-content/index.php
wp-content/languages
wp-content/plugins
wp-content/upgrade
wp-content/uploads
wp-content/themes/twentytwenty
wp-content/themes/twentytwentyone
wp-content/themes/twentytwentytwo
wp-content/themes/womazing/js
wp-content/themes/womazing/languages
wp-content/themes/womazing/phpmailer
wp-content/themes/womazing/404.php
wp-content/themes/womazing/.eslintrc
wp-content/themes/womazing/index.php
wp-content/themes/womazing/license
wp-content/themes/womazing/assets/fonts
wp-content/themes/womazing/assets/img



























